<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Admin • ABC Jobs</title>
	<link rel="icon" type="image/x-icon" href="/images/abc_favicon.png">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
	<div th:replace="components/navbar :: navbar"></div>

	<div
		th:class="${#request.userPrincipal != null} ? 'my-jobs-container-custom container-fluid my-container-custom' : 'container-fluid my-container-custom'">
		<div class="row">
			<div class="d-none d-md-none d-lg-block col col-lg-2">
				<div class="sidebar d-flex flex-column justify-content-between bg-white shadow-sm p-3 mb-5 rounded">
					<ul class="sidebar-link d-grid gap-2">
						<li><a th:href="@{/admin}" class="">Dashboard</a></li>
						<li><a th:href="@{/admin/user-management}" class="">User Management</a></li>
						<li><a th:href="@{/admin/jobs}" class="">Jobs</a></li>
						<li><a th:href="@{/admin/jobs/manage-applicant}" class="">Manage Applicant</a></li>
					</ul>
					<div th:if="${#request.userPrincipal != null}" class="nav-item">
						<form th:action="@{/logout}" method="post">
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							<input type="submit" name="Logout" value="Logout" class="btn btn-danger w-100"></input>
						</form>
					</div>
				</div>
			</div>
			<!-- Main Content -->
			<div class="col-md-12 col-lg-10">
				<div class="">
					<div th:replace="components/message :: responseMessages"></div>
					<div th:if="${isInDashboard}">
						<h1>Summary</h1>
						<div class="row gap">
							<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<div class="recap-card bg-primary text-center rounded border p-5">
									<a th:href="@{/admin/user-management}">
										<h3>Users</h3>
										<h1>[[${userNumber}]]</h1>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<div class="recap-card bg-info text-center rounded border p-5">
									<a th:href="@{/admin/jobs}">
										<h3>Jobs</h3>
										<h1>[[${jobNumber}]]</h1>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<div class="recap-card bg-warning text-center rounded border p-5">
									<a th:href="@{/admin/jobs/manage-applicant?tab=pending}">
										<h3>Pending Job Applications</h3>
										<h1>[[${pendingNumber}]]</h1>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<div class="recap-card bg-success text-center rounded border p-5">
									<a th:href="@{/admin/jobs/manage-applicant?tab=accepted}">
										<h3>Accepted Job Applications</h3>
										<h1>[[${acceptedNumber}]]</h1>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<div class="recap-card bg-danger text-center rounded border p-5">
									<a th:href="@{/admin/jobs/manage-applicant?tab=declined}">
										<h3>Declined Job Applications</h3>
										<h1>[[${declinedNumber}]]</h1>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div th:if="${isInUserManagement}">
						<div class="mb-3">
							<a th:href="@{/admin/send-mail}" class="btn btn-primary"><i class="bi bi-send"></i> Send mail</a>
						</div>
						<div th:replace="admin/section/data :: userTable"></div>
					</div>
					<div th:if="${isInJobs}">
						<a th:href="@{/admin/jobs/post-job}" class="btn btn-primary mb-3">+ Post job</a>
						<div th:replace="admin/section/data :: jobs"></div>
					</div>
					<div th:if="${isInManageApplicant}">
						<div class="mb-3">
							<a th:href="@{/admin/jobs/manage-applicant?tab=pending}" type="button"
								class="btn btn-outline-primary">Pending</a>
							<a th:href="@{/admin/jobs/manage-applicant?tab=accepted}" type="button"
								class="btn btn-outline-primary">Accepted</a>
							<a th:href="@{/admin/jobs/manage-applicant?tab=declined}" type="button"
								class="btn btn-outline-primary">Declined</a>
						</div>
						<div th:if="${isInRecap}">
							<div class="row gap">
								<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
									<div class="recap-card bg-warning text-center rounded border p-5">
										<a th:href="@{/admin/jobs/manage-applicant?tab=pending}">
											<h3>Pending</h3>
											<h1>[[${pendingNumber}]]</h1>
										</a>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
									<div class="recap-card bg-success text-center rounded border p-5">
										<a th:href="@{/admin/jobs/manage-applicant?tab=accepted}">
											<h3>Accepted</h3>
											<h1>[[${acceptedNumber}]]</h1>
										</a>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
									<div class="recap-card bg-danger text-center rounded border p-5">
										<a th:href="@{/admin/jobs/manage-applicant?tab=declined}">
											<h3>Declined</h3>
											<h1>[[${declinedNumber}]]</h1>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${isInPendingTab}">
							<h2 class="mb-4">Pending Applicants</h2>
							<div th:replace="admin/section/data :: pendingApplicants"></div>
						</div>
						<div th:if="${isInAcceptedTab}">
							<h2 class="mb-4">Accepted Applicants</h2>
							<div th:replace="admin/section/data :: acceptedApplicants"></div>
						</div>
						<div th:if="${isInDeclinedTab}">
							<h2 class="mb-4">Declined Applicants</h2>
							<div th:replace="admin/section/data :: declinedApplicants"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="components/footer :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>