<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Admin • ABC Jobs</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<style>
		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}

		.footer {
			margin-top: auto;
		}
	</style>
</head>

<body>
	<div th:replace="components/navbar :: navbar"></div>

	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>User ID</th>
					<th>Full Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
				<tr th:each="user: ${users}" scope="row">
					<td th:text="${user.userId}" />
					<td th:text="${user.userProfile.firstName + ' ' + user.userProfile.lastName}" />
					<td th:text="${user.username}" />
					<td th:text="${user.email}" />
					<td>
						<a th:href="@{/u/__${user.username}__}" class="btn btn-primary"><i class="bi bi-eye-fill"></i> View</a>
						<a th:if="${user.role != 'ADMIN'}" th:href="@{#}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>
							Delete</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="components/footer :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>