<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <a th:fragment="postThreadButton" th:if="${#request.userPrincipal != null}" th:href="@{/create-thread}"
    class="btn btn-primary mb-3">
    + Post thread
  </a>

  <a th:fragment="addNewExperienceButton"
    th:if="${#request.userPrincipal != null && #request.userPrincipal.name == user.username}"
    th:href="@{/add-experience}" class="btn btn-primary mb-3">+ Add experience</a>

  <a th:fragment="addNewEducationButton"
    th:if="${#request.userPrincipal != null && #request.userPrincipal.name == user.username}"
    th:href="@{/add-education}" class="btn btn-primary mb-3">+ Add education</a>

  <a th:href="@{/threads?tag=__${thread.tag.tagName}__}" th:fragment="threadTagButton"
    class="btn btn-outline-primary btn-sm">#[[${thread.tag.tagName}]]</a>
</body>

</html>