<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <footer class="footer text-center text-lg-start bg-secondary text-white pt-2 mt-5" th:fragment="footer">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <img th:src="@{/images/abc-jobs.png}" alt="abc_job_logo" class="mb-4" height="24px">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum nibh suscipit,
                            rutrum
                            justo in, mollis lacus. Nunc placerat.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Let's join!</h6>
                        <p>
                            <a th:href="@{/login}" class="text-reset">Login</a>
                        </p>
                        <p>
                            <a th:href="@{/register}" class="text-reset">Register</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Public</h6>
                        <p>
                            <a th:href="@{/people}" class="text-reset">People</a>
                        </p>
                        <p>
                            <a th:href="@{/jobs}" class="text-reset">Jobs</a>
                        </p>
                        <p>
                            <a th:href="@{/threads}" class="text-reset">Threads</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Connect Us</h6>
                        <p>
                            abcjobsportallithan@gmail.com
                        </p>
                        <p>
                            +65 6324 9730
                        </p>
                        <p>
                            11 Eunos Rd 8, #07-02 Lifelong Learning Institute, Singapura 408601
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4">
            &copy; Copyright 2023 | All rights reserved | ABC Jobs
        </div>
    </footer>
</body>

</html>