<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobs • ABC Jobs</title>
  <link rel="icon" type="image/x-icon" href="/images/abc_favicon.png">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <div th:replace="components/navbar :: navbar"></div>

  <div
    th:class="${#request.userPrincipal != null} ? 'my-jobs-container-custom container-fluid my-container-custom' : 'container-fluid my-container-custom'">
    <div class="row">
      <div class="d-none d-md-none d-lg-block col col-lg-2">
        <div class="sidebar bg-white shadow-sm p-3 mb-5 rounded">
          <ul class="sidebar-link d-grid gap-2">
            <li><a th:href="@{/jobs}" class="">Jobs</a></li>
            <li><a th:href="@{/jobs/applied}" class="">Applied Jobs</a></li>
            <li><a th:href="@{/jobs/my-job}" class="">My Job</a></li>
          </ul>
        </div>
      </div>
      <!-- Main Content -->
      <div class="col-md-12 col-lg-10">
        <div th:replace="components/message :: responseMessages"></div>
        <div class="table-responsive">
          <div th:if="${isInJobLists}">
            <div th:replace="job/jobs :: jobsAndSearchBar"></div>
          </div>
          <h3 th:if="${noResultMessage}" th:text="${noResultMessage}" />

          <div th:if="${isInAppliedJobs}">
            <table class="table">
              <tr>
                <th>App ID</th>
                <th>Job Name</th>
                <th>Job Level</th>
                <th>Job Time</th>
                <th>Job Detail</th>
                <th>My Qualification</th>
                <th>Status</th>
              </tr>
              <tr th:each="myApplication: ${myApplications}" scope="row">
                <td>[[${myApplication.applyJobId}]]</td>
                <td>[[${myApplication.appliedJob.jobName}]]</td>
                <td>[[${myApplication.appliedJob.jobLevel}]]</td>
                <td>[[${myApplication.appliedJob.jobTime}]]</td>
                <td><a th:href="@{/job?detail=__${myApplication.appliedJob.jobId}__}">Detail</a></td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-file-earmark-fill"></i> Qualification
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">My Qualification</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img th:src="${'data:image/png;base64,' + myApplication.base64Qualification}"
                            alt="qualification" class="w-100">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <span th:class="${myApplication.status == 'PENDING'} ? text-warning : text-danger">
                    <i th:if="${myApplication.status == 'PENDING'}" class="bi bi-clock-history"></i>
                    <i th:if="${myApplication.status == 'DECLINED'}" class="bi bi-x-circle"></i>
                    [[${myApplication.status}]]
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div th:if="${isInMyJob}">
            <table class="table">
              <tr>
                <th>App ID</th>
                <th>Job Name</th>
                <th>Job Level</th>
                <th>Job Time</th>
                <th>Job Detail</th>
                <th>My Qualification</th>
                <th>Status</th>
              </tr>
              <tr th:each="acceptedApplication: ${acceptedApplications}" scope="row">
                <td>[[${acceptedApplication.applyJobId}]]</td>
                <td>[[${acceptedApplication.appliedJob.jobName}]]</td>
                <td>[[${acceptedApplication.appliedJob.jobLevel}]]</td>
                <td>[[${acceptedApplication.appliedJob.jobTime}]]</td>
                <td><a th:href="@{/job?detail=__${acceptedApplication.appliedJob.jobId}__}">Detail</a></td>
                <td>[[${acceptedApplication.qualificationUrl}]]</td>
                <td>
                  <span class="text-success">
                    <i class="bi bi-check-circle"></i>
                    [[${acceptedApplication.status}]]
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
  <div th:replace="components/footer :: footer"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>