body {
  background-color: #F5F5F5 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mt-container-custom {
  margin-top: 100px !important;
}

.footer {
  margin-top: auto;
}

.text-decoration-none {
  color: inherit;
  text-decoration: none;
}

/* User Profile Card */
.top-card {
  background-image: url(https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=360);
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.top-card img {
  width: 90px;
  height: 90px;
  margin-left: 20px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translateY(20px);
}

.info {
  margin-top: 20px;
}

.info h3 {
  margin-bottom: 0;
}

/* Thread */
.thread-card img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.thread-info {}