<!DOCTYPE html>
<html>

<head>
	<!-- import bootstrap cdn-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!-- import jquery cdn -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
		</script>
	<!-- import popper.js cdn -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
		</script>
	<!-- import javascript cdn -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
		</script>
	<!-- CSS stylesheet -->
	<style type="text/css">
		html,
		body {
			height: 100%;
		}

		#green {
			height: 100%;
			background: green;
			text-align: center;
			color: black;
		}

		.main-content {
			padding-left: 260px;
			padding-right: 20px;
			/* Adjust the value as needed */
		}
	</style>
</head>

<body>
	<!-- top navbar -->
	<nav class="navbar sticky-top navbar-expand-lg
            navbar-light bg-primary">
		<a class="navbar-brand" href="#">Navbar</a>
		<!-- hamburger button that toggles the navbar-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
			</span>
		</button>
		<!-- navbar links -->
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link
                    active" href="#">
					Home
				</a>
				<a class="nav-item nav-link" href="#">Features</a>
				<a class="nav-item nav-link" href="#">Price</a>
				<a class="nav-item nav-link" href="#">About</a>
			</div>
		</div>
	</nav>
	<!-- This container contains the sidebar
            and main content of the page -->
	<!-- h-100 takes the full height of the body-->
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-2 position-fixed" id="green">
				<h4>Sidebar</h4>
				<!-- Navigation links in sidebar-->
				<a href="#">Link 1</a>
				<br />
				<br />
				<a href="#">Link 2</a>
				<br />
				<br />
				<a href="#">Link 3</a>
				<br />
				<br />
				<a href="#">Link 4</a>
				<br />
				<br />
			</div>
			<!--Contains the main content
                    of the webpage-->
			<div class="main-content" style="text-align: justify;">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id similique illo architecto in! Facere doloremque
				architecto eos incidunt, sunt vero molestiae quos in doloribus excepturi expedita provident aperiam dolores
				aliquid necessitatibus unde. Quam, adipisci aperiam hic eligendi officia nesciunt. Hic, iste? Laborum assumenda
				doloribus velit soluta laboriosam, dolores nobis! Veritatis dolores quas fugit harum rerum soluta officiis,
				doloribus illum sequi, neque culpa ratione magni corrupti pariatur molestiae, cumque aspernatur officia
				cupiditate ab animi excepturi temporibus a. Architecto a mollitia minus nostrum! Consequatur quam ad ipsa odio
				commodi ullam repellat sed porro, odit rem aperiam placeat facere mollitia. Dolore nemo excepturi officiis
				consequatur similique, doloremque aperiam est debitis. Laborum nobis itaque laboriosam tenetur, quisquam porro
				earum unde quia aspernatur molestiae, excepturi perferendis at eligendi deserunt voluptates labore nisi
				provident sunt corporis magnam fugit dolore neque nihil. Unde asperiores ab animi atque accusantium consequuntur
				amet illum laboriosam quas libero similique neque facere, dolorum doloribus eaque rerum error. Natus culpa dicta
				quae unde repellat veritatis aperiam eum, quas blanditiis velit quo, rerum adipisci delectus porro maxime?
				Illum, a ea totam esse distinctio veniam alias recusandae, omnis qui hic accusamus iusto labore, assumenda
				maiores! Laborum eius magni a explicabo obcaecati quae aut possimus eum nulla doloremque nemo deserunt repellat
				officia, quia distinctio autem dolores cumque eaque illo impedit aperiam repellendus asperiores labore. Quaerat
				nihil, asperiores corrupti quasi voluptate sapiente nulla voluptatum necessitatibus error, magni vel obcaecati
				facere quibusdam omnis eveniet impedit atque earum numquam reiciendis quo est aliquam natus aperiam. Blanditiis,
				quaerat. Repellat, accusantium. Facilis, perferendis laudantium tempora incidunt voluptates quibusdam placeat.
				Temporibus, ullam quo praesentium fugiat voluptatem voluptas nostrum quia, totam ut necessitatibus, laboriosam
				commodi at. Aspernatur maiores dolores iure enim, laboriosam cum dolor dicta esse. Saepe nostrum laudantium
				cupiditate atque odio autem eligendi eveniet, incidunt, reiciendis quam reprehenderit nulla libero repellendus
				dicta possimus inventore. Ea dolore est amet velit cupiditate? Et id, dolores libero mollitia ullam nobis
				doloremque optio cupiditate sapiente eius ab nesciunt debitis obcaecati. Libero dolorum architecto laborum ex
				officia quis beatae? Atque, velit minima quae placeat dolores laborum voluptate praesentium vero maiores quam
				nulla at rem cupiditate adipisci sunt optio quo nobis, debitis sint quasi, itaque ullam possimus iusto? Sed
				deserunt blanditiis ipsum sequi distinctio nihil delectus ad, repudiandae illum placeat beatae temporibus amet
				laudantium nemo numquam, repellendus ea iste molestiae. Iste reprehenderit ex doloremque, corporis dolores vitae
				provident asperiores pariatur nemo blanditiis repellendus ab repellat tenetur sapiente, voluptatem ratione
				perspiciatis! Laborum dolores odio necessitatibus amet deserunt nobis aperiam, sit quod accusamus molestiae
				blanditiis optio ut fuga quam. Fugiat eaque earum, magnam libero nobis necessitatibus incidunt, tempore ipsum
				debitis provident, autem quo ex. Quia consectetur nostrum non laboriosam eum quam voluptatum fugit sunt
				reiciendis neque temporibus quidem facilis, ipsum commodi omnis. Vel, amet. Atque consequatur non suscipit ipsam
				amet exercitationem nulla eius voluptatibus? Ducimus ab tempora aliquid magnam qui vero voluptates dolores,
				suscipit odit eum totam, ipsum quis harum. In officia enim neque numquam repudiandae perferendis cum,
				consectetur beatae explicabo officiis veniam hic earum dignissimos nulla expedita voluptatum quis optio non fuga
				aut quasi, saepe sed, perspiciatis itaque! Similique, temporibus alias, dolor ad cupiditate eaque eius ex
				suscipit qui omnis voluptatem earum minima nam vel nulla facere eveniet laudantium consequatur? Fugiat saepe
				aspernatur laboriosam, quaerat impedit modi? Excepturi, molestiae? Impedit delectus aliquid odio, saepe deserunt
				qui nihil dolor, dignissimos iusto rerum nam error quas consequuntur explicabo optio beatae, sint autem numquam
				fugiat. Dicta minus maxime consequatur! Quo quos ullam dolores possimus voluptates inventore corporis placeat
				pariatur quaerat, sed fugit voluptatum soluta rerum temporibus dolorem veritatis deleniti, ratione voluptate
				itaque consectetur? Dolore blanditiis, facere commodi animi eligendi aliquam eius beatae dolorem est similique,
				ex maxime reiciendis harum! Ipsam corrupti corporis, reprehenderit est facilis dolor perspiciatis. Cumque
				explicabo libero eos vel minima voluptas nihil, aspernatur voluptates tempora dolorum ullam porro repellat
				beatae. Accusantium dolorem cupiditate ea soluta recusandae facere at eius voluptas ex fugit nulla ipsam,
				numquam earum similique deserunt, autem error vero esse eum magnam? Quam, quaerat unde reprehenderit cumque,
				nostrum dolore facere maiores quo maxime pariatur fuga fugiat impedit iusto cum, nisi assumenda. Praesentium
				dicta accusantium culpa odio ipsa cum laudantium itaque, voluptate magnam distinctio minus sunt voluptatibus ab,
				facilis id dolorum obcaecati velit deserunt magni! Iure officiis quidem rem ipsam et minus natus dolorum! Hic
				nihil vero beatae repellendus, quasi, tenetur assumenda ut veniam eius maxime vel nulla explicabo voluptates
				maiores eos, odio accusamus quidem! Provident, consequatur expedita porro velit numquam, iusto labore, aliquid
				debitis exercitationem odio quis iste itaque dignissimos. Architecto laudantium excepturi aut porro, sunt
				deleniti dolorem illum vel ipsam velit quas temporibus libero rem nesciunt. Voluptate, molestias soluta non
				autem, hic dolor in doloremque error architecto ad a, quos nesciunt numquam fugiat quam nostrum. Nam impedit,
				sint maxime harum voluptate veniam mollitia qui velit. Maxime laboriosam illo, placeat eum repudiandae eaque
				ipsam excepturi dignissimos ad cupiditate reprehenderit omnis animi, blanditiis inventore debitis quae! Nam
				commodi rem voluptatem saepe deserunt exercitationem culpa, recusandae quo, reprehenderit optio, quod odio sit.
				Ab sit deleniti animi ipsam mollitia reiciendis molestiae exercitationem consequatur culpa neque, nobis corrupti
				sed fugiat, modi, dolor ad doloribus at velit! Quaerat, dolorem earum quas nesciunt harum dolores, dolore animi
				officia voluptatum modi possimus quasi repellendus praesentium asperiores ex saepe repudiandae omnis quo,
				explicabo sapiente nobis id. Odio officiis provident nesciunt eius porro eum maiores voluptates culpa hic, esse
				numquam excepturi fugiat quos molestias consequatur recusandae, iusto modi quod maxime itaque accusamus atque
				praesentium! Eligendi officia eius voluptatum nam deleniti maxime ab ex, totam culpa soluta perferendis harum
				sint optio, aut sunt. Necessitatibus pariatur hic quaerat cum eius sunt aperiam iste, illo aspernatur a quod.
				Aspernatur quaerat rem quam hic assumenda molestias inventore laudantium natus ullam qui, id atque eum
				perspiciatis odio minima alias impedit labore adipisci consequuntur maiores sapiente officia? Nam quia voluptate
				officiis culpa deleniti molestiae quam esse, rerum accusantium eveniet voluptatum aperiam quas. Labore
				exercitationem quae, sapiente esse explicabo optio. Aut quia voluptas in molestias recusandae? Architecto velit
				iste veritatis nisi. Odio assumenda expedita facere deserunt nemo doloremque voluptate voluptates consequuntur
				distinctio tenetur.
			</div>
		</div>
	</div>
</body>

</html>